h2.h3{
    color: black;
}

form {
    display: flex;
    flex-direction: column;    
    min-width: 700px;    
    margin: 5px auto;    
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: bold;
}

.numero{
    width: 30px;
    text-align: right;
}

.fecha{
    width: 75px;
    text-align: right;
}

.importes{
    width: 75px;
    text-align: right;
}

input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;    
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
}

.nuevo, .borrar, .imprimir {
    margin-top: 5px;
    padding: 10px;    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

.nuevo{
    background-color: #007bff;
}

.nuevo:hover {
    background-color: #0056b3;
}

.borrar{
    background-color: #ff1100;
}

.borrar:hover {
    background-color: #b31b00;
}

.imprimir{
    background-color: #59c411;
}

.imprimir:hover {
    background-color: #0fb300;
}